body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #032d50;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
  background-color: #032d50;
}

/* Logo styling */
.logo-container {
  top: 20px;
  left: 5%; 
  margin-bottom: -5px;
}

.my-image {
  width: 50px;
  border-radius: 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  margin-bottom: 5px;
}

/* Nav items container (links) */
.nav-items {
  display: flex;
  gap: 20px;
}

/* Styling for the nav links */
.nav-items a {
  color: #f4f4f4;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

.nav-items a:hover{
  background-color: #f4f4f4;
  color: #032d50;
}

nav-items a:active,
nav-items a:focus{
  background-color: #f4f4f4;
  color: #032d50;
}

.container {
  max-width: 80%;
  margin: 50px auto;
  background: #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  padding-bottom: 10px;
  text-align: center;
  color: #032d50;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #5e5e5e;
  color: #f4f4f4;
}

td button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

td button.edit {
  font-weight: bold;
  background-color: #28a745;
  color: #f4f4f4;
}

td button.delete {
  font-weight: bold;
  background-color: #dc3545;
  color: #f4f4f4;
}

td button.edit:hover {
  background-color: #1c7731;
}

td button.delete:hover {
  background-color: #b42b39;
}
